.container{
    display: flex;
    background-color: black;
    color: white;
    padding: 10px;
    word-spacing: 15px;
    font-size: 13px;
}
select{
    width: 25vw;
    margin: 20px;
    padding: 5px;
    height: 10vh;
}

h1{
    margin-left: 265px;
}
p{
    margin-left: 265px;
}
.align{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 10px;
    margin-top: 5%;
}
.categories{
    display: flex;
    justify-content: space-between;
}
#cats{
    font-size: 20px;
    padding: 3px;
    font-weight: bold;
    margin-top: -20%;
}
#cos{
    padding: 5px;
}
#suit{
    padding: 5px;
}
#mil{
    padding: 5px;
}
#bia{
    padding: 5px;
}
#glam{
    padding: 5px;
}
#metro{
    padding: 5px;
}
#val{
    padding: 5px;
}
#scar{
    padding: 5px;
}
#con{
    padding: 5px;
}
#under{
    margin-top: -10%;
}
#image{
    margin-top: 3%;
}